html {
    scroll-behavior: smooth;
    max-width: 1366px;
    margin: 0 auto;
}
.header {
	width: 100%;
    height: auto;
}

.navbar{
    display: grid;
	font-size: 150%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0%;
    width: 100%;
    height:auto;
    padding: auto;
	font-family: Montserrat;
	position: fixed;
	top: 0px;
	left: 0px;
    background-color: black;
    opacity: 0.9;
    z-index: 999;
	
}
.navbar a{
    text-decoration:none;
    width: 60%;
    align-self: center;
    align-items: center;
    opacity: none;
	color: white;
	padding:3%;
    align-items: stretch;
    max-width: 100%;
    height: auto;
    max-height: max-content;
}
.borders{
    border: white solid 0.5px;
    background-color: blue;
    width: 50%;
    height: auto;
    font-size: 70%;
}

a:hover{
    background-color: white;
    color: #000;
}

#head{
    display: grid;
    grid-column: auto;
    padding: 1%;
    font-size: 120%;
    color: wheat;
    box-shadow: 0px 10px 20px rgba(204, 218, 203, 1);
    border-radius: 100px;
    background-color: black;
    opacity: 0.8;
}
.title {
    max-width: 100%;
    text-align: center;
    padding:20%;
    padding-top: 15%;
    font-size: 150%;
    background-image: url("images/background.jpg");
    opacity: 1;
    line-height: 200%;
    background-repeat: no-repeat;
    background-size: cover;
}
.line{
    font-size: 90%;
    line-height: 80%;
    opacity: 1;
}
#buttons{
    width: 20%;
    margin: 0 auto;
    font-size: larger;
    background-color: inherit;
    color: white;
}
#buttons:hover{
    background-color: white;
    color: black;
}
.about {
    padding-top: 10%;
    margin: 1%;
    padding-bottom: 5%;
    margin-bottom: 10px;;
    text-align: center;
    border: solid;
}
.touch:hover {
    background-color: white;
    color: black;
}
h2{
    font-size: 250%;
}
.desc{
    font-size: 140%;
    line-height: 200%;
    width: 50%;
    margin: 0 auto;
}
.touch{
    margin-top: 2%;
    border-radius: 10%;
    padding: 1%;
    opacity: 1;
    font-size: 120%;
}

.quote{
    width: 80%;
    height: 80%;
    padding-top: 15%;
    display: grid;
	font-size: 30px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 100px;
    width: 100%;
    height:auto;
    max-width: 100%;
    margin: 0 auto;
    border: solid;
}
#boxes {
    text-align: center;
    line-height: 160%;
    background-color: black;
    opacity: 0.8;
    color: blanchedalmond;
    box-shadow: 20px 20px 10px black;
    border: ivory solid 2px;
}

img{
    margin: 10%;
    width: 70%;
    height: 80%;
    box-shadow: 20px 20px 10px silver;
}

.donations {
    display: flex;
    margin: 0 auto;
    padding-top:5% ;
    justify-content: space-around;
    width: 99%;
    height: auto;
    text-align: center;
    background-color: black;
}


.caption {
    margin: 10%;
    width: 40%;
    color: white;
    height: 60%;
    padding: 1%;
    font-size: 80%;
    font-family: Montserrat;
}
#pic{
    width: 80%;
    padding: none;
    box-shadow: none;
}
.donate {
    width: 40%;
    padding: 1%;
    margin: 0 auto;
    border: white solid 0.5px;
    border-radius: 100px;  
    font-size: 200%;
    font-weight: bold;
    
}
.donate:hover{
    background-color: white;
    color: black;
}
#contact {
    background-color:white;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 100px;
    margin: 1% auto;
    padding: 5%;
}

#box2{
    margin: 10%;
    width: 70%;
    height: auto;
    padding: 5%;
    font-size: 140%;
    line-height: 200%;
    text-align: center;
    border: black solid;
    border-radius: 4rem;
    max-width: 90%;
}
.snippet{
    width: 80%;
    height: 40%;;
    padding:5% 4% ;
    margin: 2%;
}

#textarea {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
#submit {
    position: relative;
    top: 10rem;
    padding: 5%;
    z-index: 99;
    opacity: 0.9;
    background-color: black;
    color: white;
}

#footer{
    width: 100%;
    height: auto
    margin: 0 auto;
}

.navbar2{
	font-family: Montserrat;
    background-color: black;
    opacity: 0.9;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	width: 97%;
	padding: 30px;
    justify-content: space-around;
	z-index: 999;
	
}

.navbar2 a{
    text-decoration:none;
    opacity: none;
	color: white;
	padding: 30px;
	margin-left: 10px;
	align-items: stretch;
}
a:hover{
    color: black;
}
.border{
	border:solid;
	border-color: white;
	background-color: blue;
}
#add{
    color: wheat;
}
.copyright{
    background-color: white;
}

@media only screen and (max-width: 900px) {
    html{
        
        font-size: 150%;
    }
    .navbar {
      display: none;
      justify-content: space-around;
      align-self: center;
      height: auto;
      margin-bottom: 10%;
      font-size: 130%;
    }
    .navbar a{
        width: 40%;
        margin: 0 auto;
        font-size: 90%;
    }
    .borders{
        background-color: black;
        border:none;
    }

    
    #head{
        width: 100%;
        margin: 0 auto;
        font-size: 70%;
        line-height: 200%;
        border-radius: 0px;
    }
    .about{
        font-size: 80%;
        line-height: 900%;
    }
    #button{
        width: 50%;;
        font-size: 100%;
    }
    .line{
        width: 100%;
        font-size: 70%;
    }

    #boxes{
        width: 100%;
        margin: 20px auto;
        height: auto;

    }
    img {
        width: 100%;

        margin: 0 auto;
    }
    #jump2{
        display: flex;
        flex-direction: column;
    }
    .caption{
        width: 80%;
    }
    #contact{
        display: flex;
        flex-direction: column;
    }
    #box2{
        font-size: 100%;
    }
    #footer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .navbar2{
        display: flex;
        flex-direction: ROW;
        font-size: 100%;
    }
    .copyright{
        width: 100%;
        font-size: 90%;
    }
    .title{
        background-image: url("images/background.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    }
  }