
.header {
	width: 100%;
	height: auto;
}

.navbar{
	font-family: Montserrat;
	position: fixed;
	top: 0px;
	left: 0px;
    background-color: #002541;
    opacity: 0.95;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	width: 97%;
	padding: 30px;
    justify-content: space-around;
	z-index: 999;
	
}
.navbar a{
    text-decoration:none;
    opacity: none;
	color: white;
	padding: 30px;
	margin-left: 10px;
	align-items: stretch;
}
.border{
	border:solid;
	border-color: white;
	background-color: blue;

}
a:hover{
    background-color: white;
    color: #000;
}

#head{
    padding: 1%;
    font-size: 120%;
    color: wheat;
    box-shadow: 0px 10px 20px rgba(204, 218, 203, 1);
    border-radius: 100px;
    background-color: black;
    opacity: 0.8;
}
.title {
    max-width: 100%;
    text-align: center;
    padding:20%;
    padding-top: 15%;
    font-size: 150%;
    background-image: url("images/background.jpg");
    opacity: 1;
    line-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.line{
    font-size: 60%;
    opacity: 1;
}
.button{
    border-radius: 20px;
    padding: 1%;
    opacity: 1;
    border: solid 2px;
}
.about {
    padding-top: 10%;
    margin: 1%;
    padding-bottom: 5%;
    margin-bottom: 10px;;
    text-align: center;
    border: solid;
}
h2{
    font-size: 250%;
}
.desc{
    font-size: 140%;
    line-height: 200%;
    width: 50%;
    margin: 0 auto;
}
.touch{
    margin-top: 2%;
    border-radius: 10%;
    padding: 1%;
    opacity: 1;
    font-size: 120%;
}
.quote{
    display: grid;
	font-size: 30px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 100px;
    width: 100%;
    height:auto;
    max-width: 100%;
    margin: 0 auto;
}
#boxes {
	margin: 10%;
	width: 50%;
	height: auto;
    text-align: center;
    line-height: 160%;
    background-color: black;
    opacity: 0.8;
    padding: 2%;
    color: blanchedalmond;
	box-shadow: 20px 20px 10px black;
}
img{
    margin: 10%;
    width: 70%;
    height: 80%;
    box-shadow: 20px 20px 10px silver;
}